 body {
     margin: 0;
 }

 .hero {
     background-color: rgb(139, 139, 139);

     display: flex;
     flex-direction: column;
     justify-content: center;
     /* Centraliza verticalmente */
     align-items: center;
     /* Centraliza horizontalmente */

     text-align: center;
     color: white;
     padding: 20px;
 }

 .hero h1,
 .hero p {
     background-color: #00000071;
     padding: 2%;
     margin: 0;
     width: 130vh;


 }

 .hero h1 {
     font-size: 3.2em;
 }

 .conteudo {
     max-width: 900px;
     margin: 0 auto;
     padding: 60px 20px;
 }

 li {
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-all;

 }

 h1,
 h2 {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-weight: normal;
 }

 .voltar {
     position: fixed;
     top: 20px;
     left: 20px;
     background: #22222249;
     color: #fff;
     padding: 10px 14px;
     border-radius: 8px;
     text-decoration: none;
     font-size: 18px;
     font-weight: bold;

 }