body { font-family: Arial; padding: 20px; }

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #ffe5b4;
    padding: 25px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    transition: 0.3s;
}

.card:hover { transform: scale(1.05); }
