body {
  margin: 0;
  
  background: #f5f5f5;
}

/* MENU PADRÃO (para navegação funcionar igual em todas) */
nav {
    font-family: Arial, sans-serif;
  background: #464646;
  padding: 15px;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav .inicio:hover{
    color: #a1a1a1;
}

nav .um:hover{
    color: #f0ff6b;
}

nav .dois:hover{
    color: #9cff75;
}

nav .tres:hover{
    color: #8ddfff;
}


nav .quatro:hover{
    color: #ff809b;
}

nav .cinco:hover{
    color: #ff9152;
}

nav .seis:hover{
    color: #c267ff;
}